@using PagedList
@using PagedList.Mvc
@model MultiSubmitButtonSameView.Product

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        setTimeout(RefreshProduct, 5000);
    });

    function RefreshProduct() {
        $.ajax({
            url: '@Url.Action("CacheUpdate", "Home")',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            success: function (result) {
                alert("1");
                $("#divProduct").load('@Url.Action("GetAllProducts")');
            },
            error: function (req, err) {
                console.log(err);
            }
        });
    }
</script>

<h2>Index</h2>

<form class="horizontal-form" method="post" id="frm" action="@Url.Action("Search", "Home")">
    <div class="form-horizontal">
        <p>
            Arama Yap: @Html.TextBoxFor(k => k.Name)
            <input type="submit" value="Ara" />
        </p>
    </div>
    <div id="divProduct">
        @Html.Action("GetAllProducts")
    </div>
</form>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

